In [2]:
import gcp.bigquery as bq
import pandas as pd
import numpy as np

In [6]:
%%sql --module all_tables
SELECT * FROM (SELECT date,idstation,NTH(2,SPLIT(meter,'=')) as meter,XQ001 
              FROM [raw_data_warsaw_clean.all_tables]) 
WHERE meter='S20NDD10BU900'

In [7]:
df = bq.Query(all_tables).to_dataframe()
len(df)

RequestException: Error encountered during execution. Retrying may solve the problem.

In [5]:
df.loc[1:10,]

,date,idstation,meter,XQ001,XQ002,XQ003,XQ004,XQ005,XQ006,YQ001
1,2016-04-18 01:56:00,w100,100/LG=S20NDD10BU900,16772.6,97479.2,92.7,2592.0,72.15,41.08,0.0
2,2016-04-18 02:56:00,w100,100/LG=S20NDD10BU900,16772.9,97481.8,98.7,2556.0,74.74,41.21,0.0
3,2016-04-18 03:56:00,w100,100/LG=S20NDD10BU900,16773.2,97484.4,95.4,2736.0,71.15,40.89,0.0
4,2016-04-18 04:56:00,w100,100/LG=S20NDD10BU900,16773.6,97487.3,107.7,2772.0,74.08,40.75,0.0
5,2016-04-18 05:56:00,w100,100/LG=S20NDD10BU900,16774.0,97490.1,115.0,2916.0,73.18,39.29,0.0
6,2016-04-18 06:56:00,w100,100/LG=S20NDD10BU900,16774.5,97493.4,126.9,3240.0,71.43,37.49,0.0
7,2016-04-18 07:56:00,w100,100/LG=S20NDD10BU900,16775.0,97496.8,146.6,3564.0,71.77,36.13,0.0
8,2016-04-18 08:56:00,w100,100/LG=S20NDD10BU900,16775.4,97500.2,133.0,3600.0,69.77,37.03,0.0
9,2016-04-18 09:56:00,w100,100/LG=S20NDD10BU900,16775.9,97503.6,124.1,3240.0,71.41,38.07,0.0
10,2016-04-18 10:56:00,w100,100/LG=S20NDD10BU900,16776.3,97506.7,114.0,2844.0,72.84,38.11,0.0